# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Environment files
.venv/
.env
.env.*
!.env.example

# Logs
*.log

# Dependencies and build outputs
node_modules/
dist/
build/
__pycache__/
*.pyc

# Database files
*.sqlite
*.sqlite3
*.db
